@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Event>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Web;
@{
    Layout = "master.cshtml";
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">

    <div class="container">
        @Umbraco.RenderMacro("getLatestEvents",
        new
        {
        numberOfEvents = Model.HowManyEventsShouldBeShown,
        startNodeId = Model.Id
        })
        @{
        }
    </div>

</section>